/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MY STYLES */

html {
    scroll-behavior: smooth;
}

body {
    min-width: 1035px;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    color: #404040;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.clearfix::after {
    /* DEPRECATED, not using any more  */
    /* class to clear float items */
    display: table;
    content: "";
    clear: both;
}

/* HEADER */

.header-top {
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-header {
    height: 550px;
    background: url("../img/wheat-back.jpg") no-repeat;
    background-color: black;
    background-position: bottom;
    background-size: cover;
}

.header-logo {
    width: 140px;
    height: 76px;
}

.header-menu {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px 0 20px 0;
    display: flex;
}

.header-menu a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.header-menu a:hover, 
.header-menu a:active {
    color: #FFCB78;
}

.header-menu li {
    margin-left: 53px;
}

.header-menu li:first-child {
    margin-left: 0;
}

.header-title {
    color: white;
    font-weight: bold;
    font-size: 70px;
    line-height: 70px;
    text-align: center;
    margin: 125px auto 0 auto;
}

 /* NEW ITEMS */

.section-header {
    padding: 86px 0 80px 0;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
    color: black;
}

.new-items-list {
    display: flex;
    align-items: center;
}

.new-item {
    position: relative;
    width: 339px;
    border-right: 1px solid #E5E5E5;
    padding: 12px 25px 0 34px;
}

.new-item:first-of-type {
    border-left: 1px solid #E5E5E5;
}

.new-item h3 {
    text-transform: uppercase;
    font-size: 40px;
    line-height: 40px;
    color: black;
    font-weight: bold;
}

.new-item-info {
    position: absolute;
    right: 25px;
    top: 80px;
    width: 148px;
}

.new-item-info table {
    width: 100%;
    border-collapse: collapse;
    line-height: 40px;
}

.new-item-info td {
    padding: 0 10px;
    border: 1px solid #E5E5E5;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

.new-item-info p {
    padding-top: 9px;
    font-size: 14px;
    line-height: 24px;
}

.new-item img {
    margin-top: 43px;
}

.new-item-desc {
    line-height: 30px;
}

.more-info-bottom {
    padding-top: 66px;
}

.more-info-bottom .btn-dark {
    margin-left: 7px;
}

.new-item-price {
    margin-left: 25px;
    font-weight: bold;
}

 /* BUTTONS */

 .btn-light {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font: inherit;
    color: #834700;
    border: 2px solid #834700;
    padding: 14px 14px 12px 14px;
    font-weight: bold;
 }

 .btn-light:hover {
    color: #6A3900;
    border-color: #6A3900;
 }

 .btn-light:active {
    border-color: rgba(106, 57, 9, 0.3);
 }

 .btn-dark {
    font: inherit;
    border: none;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 16px 16px 14px 16px;
    background-color: #834700;
    font-weight: bold;
 }

 .btn-dark:hover,
 .btn-dark:active {
    background-color: #6A3900;
 }

 .btn-grey {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #BDB7AB;
    padding: 16px 16px 14px 16px;
    font-weight: bold;
    border: 2px solid #A6A097;
 }

 .btn-grey:hover {
    color: white;
    background-color: #A5A097;
    border-color: #A5A097;
 }

 .btn-grey:active {
    color: white;
    background-color: #8F8A81;
    border-color: #8F8A81;
 }


 /* BENEFITS  */

.container-big {
    width: 1015px;
    margin: 0 auto;
}

.page-benefits {
    background-color: #FFCB78;
    padding: 80px 0 100px 0;
    margin-top: 100px;
    display: flex;
    align-items: center;
}

.page-benefits .benefit {
    margin: 0;
    width: 228px; 
    display: inline-block;
    border-left: 1px solid #E5B66C;
    padding: 107px 80px 0 80px;
    position: relative;
}

.page-benefits .benefit::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 68px;
    width: 63px;
    background-image: url('../img/icon-brew.png');
    background-repeat: no-repeat;
}

.page-benefits .benefit:nth-child(2)::before {
    left: 80px;
    background-image: url('../img/icon-matreshka.png'); 
}

.page-benefits .benefit:nth-child(3)::before {
    left: 80px;
    background-image: url('../img/icon-thumbsup.png');
}

 .page-benefits .benefit:first-child {
    border-left: none;
    padding-left: 0;
 }

 .page-benefits .benefit:last-child {
    padding-right: 0;
 }

 .page-benefits .benefit-name {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: black;
    margin-bottom: 17px;
 }

 .page-benefits .benefit-desc {
    line-height: 30px;
 }

  /* HISTORY */
  
.history-list {
    padding-bottom: 14px;
}

.history-list dt {
    margin-bottom: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.history-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
}

.history-source {
    font-style: italic;
}

.history-source a {
    color: #834700;
}

.history-source a:hover {
    color: #6A3900;
}

.history-source a:active {
    color: #CAB7A2;
}

.history-list dd {
    margin-bottom: 72px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.history-desc {
    line-height: 30px;
    width: 510px;
}

 /* PRESS  */

.page-press {
    background-color: #EDE5D8;
    padding-bottom: 90px;
}

.press-item {
    position: relative;
}

.press-item .press-text {
    /* display: inline-block; */
    width: 689px;
    line-height: 30px;
    margin-bottom: 43px;;
}

.press-item .press-text::before {
    content: "";
    width: 41px;
    height: 41px;
    position: absolute;
    left: -105px;
    top: 7px;
    background: url("../img/quotes.png") no-repeat;
}

.press-bottom-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.press-item cite {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
}

 /* PRODUCTS */

.products-table {
    width: 100%;
    margin-bottom: 90px;
}

.products-table tr {
    line-height: 64px;
    border-bottom: 1px solid #e5e5e5; 
}

.products-table th {
    height: 48px;
    line-height: 11px;
    font-size: 11px;
    text-align: left;
    text-transform: uppercase;
    color: #999999;
}

.products-table .product-name {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}

.products-table .product-name sup {
    /* TODO: How to align the sup here??? It's a hack */
    font-size: 8px;
    color: white;
    background-color: black;
    padding: 3px 5px 2px 5px;
    border-radius: 2px;
    margin-left: 23px;
    margin-bottom: 5px;
    line-height: 55px;
    vertical-align: top;
}

.products-table .product-price {
    text-align: right;
}

 /* ORDER  */
 .page-order {
    background-color: #FFCB78;
    padding-bottom: 110px;
 }

.order-info-text {
    line-height: 30px;
    max-width: 670px;
    padding-bottom: 78px;
}

.order-form {
    width: 630px;
}

.order-form-group {
    width: 100%;
    margin-bottom: 25px;
}

.order-form input[type="text"],
.order-form input[type="email"],
.order-form textarea,
.order-form select {
    font: inherit;
    box-sizing: border-box;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    width: 100%;
    border: none;
    height: 50px;
    padding: 17px 21px;
    background-color: rgba(0, 0, 0, 0.1);
}

.order-form select {
    color: #b69152;
    /* hide the arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /* draw custom arrow, ref - https://codepen.io/vkjgr/pen/VYMeXp */
    background-image:
        linear-gradient(45deg, transparent 50%, rgba(0,0,0,0.2) 50%),
        linear-gradient(135deg, rgba(0,0,0,0.2) 50%, transparent 50%);
    background-position:
        calc(100% - 32px) 50%,
        calc(100% - 22px) 50%;
    background-size:
        10px 10px,
        10px 10px;
    background-repeat: no-repeat;
}

.order-form input[type="text"]:hover,
.order-form input[type="email"]:hover,
.order-form textarea:hover,
.order-form select:hover {
    border: none;
    background-color: rgba(0, 0, 0, 0.15);
}

.order-form input[type="text"]:focus,
.order-form input[type="email"]:focus,
.order-form textarea:focus {
    background-color: white;
    border: none;
    outline: none;
}

.order-form select:focus {
    outline: none;
}

.order-form textarea {
    min-height: 120px;
    resize: vertical;
}

.order-form label {
    display: inline-block;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    margin-bottom: 11px;
}

.order-form-group-half {
    width: 290px;
}

.order-form-group-2-col {
    display: flex;
    justify-content: space-between;
}

/* CUSTOM CHECKBOX */

.order-checkbox-area {
    height: 36px;
    margin-bottom: 45px;
    margin-top: 3px;
}

.order-checkbox-area input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.order-checkbox-area .checkbox-label {
    position: relative;
    /* line-height: 36px; */
    padding-top: 20px;
    /* TODO: How to align the text to the bottom ??? */
    /* display: block; */
    /* vertical-align: bottom; */
    cursor: pointer;
    padding-left: 54px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.order-checkbox-area input[type="checkbox"]:checked ~ .checkbox-label::before {
    background-color: #834700;
}

.order-checkbox-area input[type="checkbox"]:checked ~ .checkbox-label:hover::before {
    background-color: #6A3900;
}

.order-checkbox-area .checkbox-label:hover::before {
    background-color: rgba(0, 0, 0, 0.15);
}

.order-checkbox-area .checkbox-label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 36px;
    width:  35px;
    background-color: rgba(0, 0, 0, 0.1);
} 

.order-checkbox-area input[type="checkbox"]:checked ~ .checkbox-label::after {
    display: block;
}

.order-checkbox-area .checkbox-label::after {
    content: "";
    position: absolute;
    display: none;
    top: 5px;
    left: 11px;
    width: 9px;
    height: 17px;
    border-bottom: 3px solid white;
    border-right: 3px solid white;
    transform: rotate(45deg);
}

 /* FOOTER  */

.page-footer {
    background-color: black;
    padding-bottom: 42px;
}

.page-footer .header-logo {
    margin-left: -58px;
}

.footer-bottom {
    margin-top: 46px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-link {
    display: inline-block;
    font-size: 0;
    width: 75px;
    height: 70px;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid #322D24;
    background-repeat: no-repeat;
    background-position: center;
}

.social-link:not(:first-child) {
    /* TODO: how to border-collapse them???  */
    /* margin-left: -1px; */
}

.social-link:hover {
    border-color: #5F5037;
}

.social-link:active {
    border-color: #98938B;
    background-color: #8D8D8D;
}

.social-in {
    background-image: url('../img/icon-insta.png');
}

.social-fb {
    background-image: url('../img/icon-fb.png');
}

.social-vk {
    background-image: url('../img/icon-vk.png');
}

.footer-social-copy {
    display: flex;
    align-items: center;
}

.footer-copyright {
    padding-left: 76px;
    color: #989898;
    width: 225px;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
}

.footer-author {
    display: flex;
    align-items: center;
    color: #989898;
}

.footer-author a {
    text-decoration: none;
    color: inherit;
    font-weight: normal;
}

.footer-author a:hover,
.footer-author a:active {
    color: #CAB7A2;
}

.footer-author b {
    font-weight: bold;
    padding-left: 30px;
}

.social-academy {
    background-image: url('../img/htmlacademy.png');
}